

<app-comp-b
  [person]="person"
  [student]="student"
  [product]="product"
  [movie]="movie"
  [traveler]="traveler"
  [cricketer]="cricketer"
  [book]="book"
  [shop]="shop"
  [trainer]="trainer"
  [restaurant]="restaurant1"
  [concert]="concert"
  [car]="car"
  [teacher]="teacher"
  [employee]="emp"
  [youtuber]="youtuber"
  [gamer]="gamer"
  [developer]="developer"
  [photographer]="photographer"
  [chef]="chef"
  [artist]="artist"
  [doctor]="doctor"
  [pilot]="pilot"
  [influencer]="influencer"
  [uniStudent]="uniStudent"
  [entrepreneur]="entrepreneur"
></app-comp-b>

<app-comp-c 
[student]="std"
[meeting]="meeting"
[playlist]="playlist"


></app-comp-c>

  