<div class="container m-5 pb-4">
    <div class="com-12">
        <!-- <app-todos></app-todos> -->
        <!-- <app-table-view></app-table-view> -->
        <!-- <app-comp-a></app-comp-a> -->
        <!-- <app-data-binding></app-data-binding> -->
        <!-- <app-two-way-data-binding></app-two-way-data-binding> -->
        <!-- <app-std-curd></app-std-curd> -->
        <!-- <app-comp-one></app-comp-one> -->
        <!-- <app-parent1></app-parent1>
 <app-parent2></app-parent2>
 <app-parent3></app-parent3>
 <app-parent4></app-parent4>
 <app-parent5></app-parent5>
 <app-parent6></app-parent6>
 <app-parent7></app-parent7> -->

        <app-todo-dashboard></app-todo-dashboard><br><br>
        <app-employee-dashboard></app-employee-dashboard> <br><br>
        <app-tools-dashboard></app-tools-dashboard><br> <br>
        <app-sports-dashboard></app-sports-dashboard><br><br>
        <app-warrior-dashboard></app-warrior-dashboard>

    </div>

</div>